# Input: Tomcat Logs
- type: {{ tomcat_logtype | mandatory }}
  # Change to true to enable this input configuration.
  enabled: {{ tomcat_enabled | default('false')}}
  # Paths that should be crawled and fetched. Glob based paths.
  paths:
{% for path in tomcat_paths %}
  - {{ path }}
{% endfor %}
  processors:
    - add_host_metadata:
    - add_labels:
        labels:
          Customer: {{ customer_name | capitalize | mandatory }}
          Consumer: {{ consumer_name | capitalize | mandatory  }}
          Project: {{ project_name | lower | mandatory }}
          Environment: {{ customer_environment | lower | default('staging') }}
    - add_fields:
        target: ''
        fields:
          observer.product: {{ tomcat_observer_product | mandatory  }}
          observer.vendor: {{ tomcat_observer_vendor | mandatory }}
          observer.version: {{ tomcat_observer_version | mandatory  }}
          observer.type: {{ tomcat_observer_type | mandatory }}
          observer.name: {{ ansible_facts.hostname | mandatory }}
          observer.os.type: {{ ansible_facts.system | mandatory }}
          event.dataset: {{ tomcat_event_dataset | mandatory  }}