# Input: PHP Error Logs
- type: {{ php_error_logtype | mandatory }}
  # Change to true to enable this input configuration.
  enabled: {{ php_error_enabled | default('false')}}
  # Paths that should be crawled and fetched. Glob based paths.
  paths:
{% for path in php_error_paths %}
  - {{ path }}
{% endfor %}
  processors:
    - add_host_metadata:
    - add_labels:
        labels:
          Customer: {{ customer_name | capitalize | mandatory }}
          Consumer: {{ consumer_name | capitalize | mandatory  }}
          Project: {{ project_name | lower | mandatory }}
          Environment: {{ customer_environment | lower | default('staging') }}
    - add_fields:
        target: ''
        fields:
          observer.product: {{ php_error_observer_product | mandatory  }}
          observer.vendor: {{ php_error_observer_vendor | mandatory }}
          observer.version: {{ php_error_observer_version | mandatory  }}
          observer.type: {{ php_error_observer_type | mandatory }}
          observer.name: {{ ansible_facts.hostname | mandatory }}
          observer.os.type: {{ ansible_facts.system | mandatory }}
          event.dataset: {{ php_error_event_dataset | mandatory  }}