{{ donotedit_disclaimer }}

#!/usr/bin/env bash
# Autor: Philip Knack
# Quelle: https://blog.zedas.fr/posts/update-automatically-a-linux-server/
# Zweck: Dieses Skript soll ermöglichen, automatisch Updates zu installieren. Das Skript kann per systemd.timer oder cronjob eingerichtet werden.
 
echo "$(date) [Ausführung Start]"
 
## launch dnf update
/usr/bin/dnf upgrade -y --security
 
## check if restart is required
## if exit 0, no
## If other, then reboot
/usr/bin/needs-restarting -r ## && echo "Nope" || systemctl reboot
 
echo "$(date) [Ausführung ENDE]"