{{ donotedit_disclaimer }}

# Service Unit für die automatischen Updates
# Autor: Philip Knack
 
[Unit]
Description=System Updates automatisch installieren
Wants=auto-updates.timer
Documentation=https://wiki.materna.de/display/ZEMSO/ECE+Automatisierungskonzept+-+Automatisiertes+Linux+patchen
 
[Service]
Type=oneshot
StandardOutput=append:/var/log/auto-updates.log
StandardError=append:/var/log/auto-updates.err.log
ExecStart=/usr/local/bin/auto-updates.sh
 
[Install]
WantedBy=multi-user.target